/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2015, 11:06:08 AM
    Author     : Necro
*/



div.homeback{
    background-color: #222222;
    opacity: 0.75;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    color:whitesmoke;
    height: 9000px;
}
body {
    background-image: url("media/bg.png");
    background-size: 60%;
    background-position: 120% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img.background{
    width: 100%; 
    margin: 0px;
    float:top;
}

div.footerColor{
    text-align: center;
    max-width: 100%;
    float: bottom;
}
