/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2015, 11:06:08 AM
    Author     : Necro
*/


div.contenu{
/*    background: rgb(255, 255, 255);  Fall-back for browsers that don't support rgba 
    background: rgba(255, 255, 255, .75);*/
    margin-left: 15%;
    margin-right: 0%;
    padding: 2.5%;
    width: 80%;
    height: 1000px;
    float: right;
    color: black;
    
    background-image: url("media/corner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 100%;
    
/*    height: 9000px;*/
}
/*body {
    background-image: url("media/bg.png");
    background-size: 60%;
    background-position: 120% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/
img.background{
    width: 100%; 
    margin: 0px;
    float:top;
}
div.footer{
    text-align: center;
    max-width: 100%;
    padding-bottom: 20px;
    float: bottom;
}

a.boutonSide{
  display: block;
  background: #2e2e2e;
  border-bottom: 1px;
  border-bottom-color: #ffffff;
  border-bottom-style: solid;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  width: auto;
  text-decoration: none;
}

a.boutonSide:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  text-decoration: none;
}

a.boutonSide:active{
    
}
div.composition{
/*    display: block;*/
}

div.menuSide{
    background-color: #555555;
    position: fixed;
    width: 15%;
    height: 100%;
}

ul.menuSide{
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0%;
}
li.menuSide{
    margin-left:0px;
}
div.resetFloat{
    clear:both;
}
