/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2015, 11:06:08 AM
    Author     : Necro
*/

div.contenu{
    margin-left: 15%;
    margin-right: 0%;
    padding: 1.5%;
    width: 82%;
    float: right;
    color: black;
}

div.footer{
    text-align: center;
    max-width: 100%;
    padding-bottom: 20px;
}

a.boutonSide{
  display: block;
  background: #777777;
  border-bottom: 1px;
  border-bottom-color: #aaaaaa;
  border-bottom-style: solid;
  font-weight: normal;
  color: #ffffff;
  font-size: 16px;
  padding: 7px 20px 7px 10px;
  width: auto;
  text-decoration: none;
}

a.boutonSide:hover{
  background: #333333;
  text-decoration: none;
}

a.boutonSide:active{
    
}

a.boutonSub{
  display: block;
  background: #4f4f4f;
  border-bottom: 1px;
  border-bottom-color: #aaaaaa;
  border-bottom-style: solid;
  font-weight: normal;
  color: #d8d8d8;
  font-size: 16px;
  padding: 7px 20px 7px 35px;
  width: auto;
  text-decoration: none;
}

a.boutonSub:hover{
  background: #333333;
  text-decoration: none;
}

div.composition{
/*    display: block;*/
}

div.menuSide{
    background-color: #555555;
    position: fixed;
    width: 15%;
    height: 100%;
}

ul.menuSide{
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0%;
}
li.menuSide{
    margin-left:0px;
    width: 100%;
}
div.resetFloat{
    clear:both;
}
h1{
  border-bottom: 1px;
  border-bottom-color: #aaaaaa;
  border-bottom-style: solid;
  margin-bottom: 0px;
  font-weight: normal;
  color: #ffffff;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}