/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2015, 11:14:03 AM
    Author     : thomas
*/

body{
    margin : 0px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: sans-serif;
/*    
         background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);*/
}

div.menu {
    width: 100%;
}

header{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #999999));
    background:-moz-linear-gradient(top, #666666 5%, #999999 100%);
    background:-webkit-linear-gradient(top, #666666 5%, #999999 100%);
    background:-o-linear-gradient(top, #666666 5%, #999999 100%);
    background:-ms-linear-gradient(top, #666666 5%, #999999 100%);
    background:linear-gradient(to bottom, #666666 5%, #999999 100%);
    background-color: #ffffff;
    height: 150px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
header h2 {
    margin: 60px;
    font-size: 25px;
    display: block;
    color: whitesmoke;
}

article{
    margin-top: 30px;
    background-color: whitesmoke;
    border-bottom-color: #555555;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

article h3{
    font-size: 20px;
    display: box;
    margin: 0px;
    padding: 10px 20px;
    background-color: #555555;
    color: whitesmoke;
}

article p{
    line-height: 1,5;
    margin: 0px 20px;
    padding: 10px 0px;
}